﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.NuevoAsesorModel

@{
    ViewBag.Title = "New";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Nueva Asesor</h3>
                    <label class="text-danger">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("New", "Asesor", new { },
                    FormMethod.Post, new { role = "form", data_toggle = "validor", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdCate)
                    @Html.HiddenFor(model => model.IdConocimiento)
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Disponibilidad, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EnumDropDownListFor(m => m.Disponibilidad, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Disponibilidad, "", new { @class = "help-block with errors" })
                            <div class="help-block with-errors"></div>
                        </div>
                        @*<div class="form-group">
                    @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Idioma, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Idioma, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Idioma, "", new { @class = "help-block with errors" })
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Pais, "", new { @class = "help-block with errors" })
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button id="cancel" name="cancel" class="btn btn-default" value="1">Cancelar</button>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
}
<div>
    @Html.ActionLink("Volver Atrás", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    @*<script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/moment.js/locale/es.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script>$(function () { $('#FechaNacimiento').datetimepicker({ locale: 'es', format: 'L' }); });</script>
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>*@
    <script>
        $(document).ready(function () {
            $('myform').validator()
        })
    </script>
}
 