﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.EquipoProgramadorModel
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-7">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Programador de @Model.Equipo.Nombre</h3>
                <label class="text-success">@TempData["error"]</label>
                <label class="text-success">@TempData["success"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Legajo</th>
                            <th>Rol</th>
                            <th>Disponibilidad</th>
                            <th>Acciones</th>
                        </tr>
                        @foreach (var programador in Model.Programadores)
                        {
                    <tr>
                        <td>@programador.ID</td>
                        <td>@programador.Nombre</td>
                        <td>@programador.Apellido</td>
                        <td>@programador.Legajo</td>
                        <td>@programador.Rol</td>
                        <td>@programador.Disponibilidad</td>
                        <td>
                            <a href="/Equipos/DeleteProgramador/@programador.ID?idequipo=@Model.Equipo.ID" type="Button" title="borrar" class="btn btn-danger">
                                Borrar
                            </a>
                        </td>
                    </tr>

                        }
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <a href="/Equipos/NewProgramador/@Model.Equipo.ID" title="Nuevo Programador"  type="button" class="btn btn-success">
                                        <i class="fa fa-plus"></i> Nuevo
                                    </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}

