﻿<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Equipos</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="/Equipos/Index"><i class="fa fa-group"></i> <span>Equipos</span></a></li>
    <li><a href="/Skills/Index"><i class="fa fa-lightbulb-o"></i> <span>Skills</span></a></li>
    <li><a href="/Programadores/Index"><i class="fa fa-laptop"></i> <span>Programadores</span></a></li>
</ul>
</ul>
